
@{
    ViewData["Title"] = "Seccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Message"] Success</h1>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to Home</a>
</div>
