@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Australian Space Experiment Database</h1>
    <a asp-area="" asp-controller="Experiments" asp-action="Index">Experiments</a>
    <a asp-area="" asp-controller="Missions" asp-action="Index">Missions</a>
    <a asp-area="" asp-controller="People" asp-action="Index">People</a>
</div>
