@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We collect data that you provide and present it as-is.
</p>
<p>
    Do not submit any data that you do not want to be publicly available.
</p>
<p>
    Do not submit any data that you do not have explicit permission to publish.
</p>
<p>
    By submitting any data to this website, you grant it and its related entities an unlimited perpetual worldwide royalty free right to republish this data.
</p>
